<% include menu.html %>
<div style="margin-left:160px; padding:6px 8px 6px 16px;"><br><br>
    <div class="page-header"><h1>Router App Clients</h1></div>
      <div class="col-lg-12" >
            <div class="card example-1">
            <div class="card-body">
          <% var keys=Object.keys(customers)  %>
           <table class="table table-hover" border="2">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Total Customers: <%= size %></th>
                  </tr>
                  <tr>
                    <th scope="col">Phone</th>
                    <th scope="col">Wallet Balance</th>
                    <th scope="col">Service History</th>
                    <th scope="col">Promotions</th>
                  </tr>
                </thead>
                <tbody>
                 <% keys.forEach(function(agent){ %>
                  <tr>
                    <td><%= customers[agent].phone %></td>
                    <td><%= customers[agent].walletBalance %> UGX</td>
                    <td><button class="btn btn-primary"id='approveButton'>View Service history</button></td>
                    <td><button class="btn btn-primary"id='approveButton'>View Promotions attached</button></td>
                  </tr>
                 <% })%>
               </tbody>
        </table>
       </div>
      </div>
     </div>
  </div>
