<!DOTYPE html>
<html lang="eng">
<head>
    <title>Login Register</title>
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-database.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/mycss.css">
    <style>
        html{
            padding: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <a href="/login" class="btn btn-lg btn-success">Login</a>

    </div>
</div>

</body>

</html>