<% include menu.html %>
<div style="overflow-y:-moz-scrollbars-vertical;margin-left: 160px;padding:6px 8px 6px 16px;"><br><br>
    <div class="col-lg-8 center-block">
    <div class="page-header text-center"><h1>Admin Profile</h1></div>

          <div class="well">
             <h4>Dear, <b> <%= user.username%></b></h4><h3><span class="fa fa-user"></span>Welcome To Router On-Demand App Services  Dashboard</h3>
            <p><strong>Please Don't share your credentials </strong></p>
         </div>
        <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
    </div>
</div>
