
<!DOCTYPE html>
    <html>
    <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width'>
      <title>Terms &amp; Conditions Of Router Client App</title>
      <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
    </head>
    <body>
    <h2>Terms &amp; Conditions</h2> <p>
This is the user agreement for Router, an application owned and operated under the legal name Canon Innovations Ltd,<br> located at Ploat 138 Wakaliga Road, Mengo, Kampala, Uganda. This Agreement is a legally binding agreement made between you ('You' ' User') and Canon Innovations Ltd <b>(Router)</b>.
<br>
Please read the following agreement before using Router services. You must read, agree with and accept all of the terms and contained in this Agreement,
which includes the terms and conditions set out below, before You use any of the ROUTER services. If You do not accept all the terms of this Agreement, then ROUTER is unwilling to provide ROUTER services to You. By using any of the Services, You become a User of ROUTER) and You agree to be bound by the terms and conditions of this Agreement with respect to such Services.
<br>
If You do not agree to be bound by the terms and conditions of this agreement, please do not use ROUTER. We may amend this agreement at any time by posting the amended terms on the ROUTER Application. If we post amended terms on the ROUTER Application, you may not use the ROUTER services without accepting them.
<br>
Agreement
<br>
ROUTER does not provide transportation safety services. It is up to the App Service Provider to decide whether or not to offer a services to a client contacted through the ROUTER Application, and it is up the User to decide whether or not to accept a service from any App Service Provider contacted through the ROUTER Application.
<br>
Any decision by a App Client to accept service once such User is matched through the ROUTER Application is a decision made in such User's sole discretion. ROUTER offers information and a method to connect ROUTER App Service Providers and Users with each other, but does not and does not intend to provide transportation services or act in any manner as a transportation carrier, and has no responsibility or liability for any transportation services voluntarily provided to any User by any App Service Provider using the the ROUTER application.
<br>
While we support our App Service Providers to reduce the chances of injury and death,cheating or over charging, we do not screen the participants using the ROUTER services in any way. As a result, we will not be liable for any damages, direct, indirect, incidental and/or consequential, arising out of the use of ROUTER, including, without limitation, to damages arising out of communicating and/or meeting with other participants of ROUTER, or introduced to you via ROUTER. Such damages include, without limitation, physical damages, bodily injury, death and or emotional distress and discomfort.
<br>
<b>Children and Family</b><br>
Router Client app does not promote or distribute any harmful information or content that would endanger children in case they get access to the phone with the app open or
in anycase they find themselves using the app out of curiousty.<br>
Router Client app does not allow adverts of any nature so sexual content that would be carried by adverts and that would have frustrated children minds while accessing this app won't happen.<br>
This app usage with guidance of parents, children of all ages can be guided on how it is used so as they can appreciate the role of technology in families and the world at large.
This app has be designed to support families who would need on demand services such as gas refilling, plumbing, electronics, car mechanics, all these can be family domestic necessities that
this app can address. Router Client app has no intention of harming or causing damages in families as it has been designed with a lot of caution so that it can be used by any family member.

<br>
ROUTER has no responsibility whatsoever for the actions or conduct of App Service Providers or Users. 
ROUTER has no obligation to intervene in or be involved in any way in disputes that may arise between App Service Providers or third parties. 
Responsibility for the decisions you make regarding providing or accepting services rest solely with the User. 
It is each User and App Service Provider's responsibility to take reasonable precautions in all actions and interactions with any party they may interact with through use of the services. ROUTER may but has no responsibility to screen or otherwise evaluate potential riders or users. 
Users understand and accept that ROUTER has no control over the identity or actions of the riders and App Service Providers,
and ROUTER requests that users exercise caution and good judgment when using the services. App Service Providers and riders use the services at their own risk.
<br>
If You have any questions about this agreement, the practices of ROUTER, or Your dealings with ROUTER, You may contact us at canoninnovationsltd@gmail.com
<a href="https://canoninnovationsltd.com/" target="_blank">App Privacy Policy are Powered by Canon Innovations Ltd</a></p>
    </body>
    </html>
      