<% include ../menu.html %>
<div style="margin-left: 160px;padding:6px 8px 6px 16px;"><br><br>
           
    <div class="col-lg-9">
         <div class="page-header"><h1> Incoming Requests For Electricians</h1></div>
          <div class="card example-1 square scrollbar-dusty-grass square thin">
               <div class="card-body anyClass">
        <% var keys=Object.keys(electricianrequests)  %>
        <table class="table" border="2">
            <thead class="thead-dark">
            <tr >
                <th>Total Requests: <%= size %></th>
            </tr>
            <tr>
                <th>Client Contact</th>
                <th>View Request Location</th>
            </tr>
            </thead>
            <tbody>
            <% keys.forEach(function(agent){ %>
                <tr onmouseover="{ viewElectricianClientLocation('<%= agent %>') }">
                    <td><%= electricianrequests[agent].customerPhone %></td>
                    <td><button class="btn btn-primary"onclick="{ viewElectricianClientLocation('<%= agent %>') }">View Request Location</button></td>
                </tr>
            <% })%>

            </tbody>
        </table>
    </div> </div> </div>

    <div class="col-lg-3">
        <h3>Request Location</h3>
        <div id="map">
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNtTpw_MrAdwrPlXGTlVVS5BjH5xZeh50&callback=initMap"
                async defer></script>
    </div>
</div>